In [1]:
import numpy
import nfldb
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
%matplotlib inline
plt.style.use('dark_background')

In [3]:
# Sets up the database engine
# nfldb is user name, football is password, localhost is our system, nfldb is the name of the database

from sqlalchemy import create_engine

engine = create_engine('postgresql://nfldb:football@localhost/nfldb')

In [9]:
# Example

query_str = (
" SELECT player.full_name as name, game.week, SUM(play_player.passing_yds) as passing_yards"
" FROM game "
" JOIN play_player "
" ON game.gsis_id = play_player.gsis_id "
" JOIN player"
" ON play_player.player_id = player.player_id"
" WHERE game.season_year = 2013 "
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "
"  AND play_player.passing_yds > 0 "
" GROUP BY player.full_name, game.week "
" ORDER BY player.full_name, game.week "
" LIMIT 20 "
)

df = pd.read_sql_query(query_str,con=engine)
df.head(20)

             name  week  passing_yards
0   Aaron Rodgers     1            333
1   Aaron Rodgers     2            480
2   Aaron Rodgers     3            244
3   Aaron Rodgers     5            279
4   Aaron Rodgers     6            315
5   Aaron Rodgers     7            260
6   Aaron Rodgers     8            286
7   Aaron Rodgers     9             27
8   Aaron Rodgers    17            318
9     Ace Sanders    14             21
10     Alex Smith     1            173
11     Alex Smith     2            223
12     Alex Smith     3            273
13     Alex Smith     4            288
14     Alex Smith     5            245
15     Alex Smith     6            129
16     Alex Smith     7            244
17     Alex Smith     8            225
18     Alex Smith     9            130
19     Alex Smith    11            236

In [12]:
# Player names

query_str = (
" SELECT play_player.player_id as player_id, player.full_name as full_name "   
" FROM play_player "
" JOIN player "
" ON play_player.player_id = player.player_id"
" ORDER BY play_player.player_id"
)

df = pd.read_sql_query(query_str,con=engine)
df = df.drop_duplicates()
df.head(20)

       player_id           full_name
0     00-0000045       Flozell Adams
25    00-0000108         David Akers
1009  00-0000121      Ethan Albright
1011  00-0000551  Brendon Ayanbadejo
1159  00-0000585        Champ Bailey
1505  00-0000741        Ronde Barber
1932  00-0000846         Eric Barton
2079  00-0000865       Charlie Batch
2325  00-0001157        Mitch Berger
2377  00-0001176      Bertrand Berry
2396  00-0001231        Josh Bidwell
2435  00-0001255          David Binn
2442  00-0001263           Matt Birk
2467  00-0001388            Dre' Bly
2526  00-0001477        Marty Booker
2575  00-0001545         Todd Bouman
2709  00-0001563        David Bowens
2848  00-0001820      Keith Brooking
3222  00-0001980          Kris Brown
3456  00-0002099         Isaac Bruce

In [71]:
# Game info
query_str = (
" SELECT gsis_id, week, home_team, home_score, away_team, away_score  "

" FROM game "
" WHERE game.season_year = 2013 "
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "

" GROUP BY game.gsis_id "
" ORDER BY game.gsis_id "
)

all_games_df = pd.read_sql_query(query_str,con=engine)

team_list = sorted( all_games_df['away_team'].unique() )
week_list = sorted( all_games_df[     'week'].unique() )

results_frame = pd.DataFrame()

# Might be able to group the general game stats in a single
#  command, but this shows explicitly what we are doing
#  not like we need high efficiency here
for week_num in week_list:

    games_df = all_games_df.loc[ all_games_df['week']==week_num ]

    new_frame = pd.DataFrame( { 'week'     :week_num,
                                'home_flag':0, 
                                'away_flag':0,
                                'score'    :0,
                                'opp_team' :'',
                                'opp_score':0,
                                'team'     :team_list } )

    # Use merges to find who each team played, and where, and the scores
    # Start by assuming our team was home...
    new_frame    [         'opp_team' ] = pd.merge( new_frame, games_df, how='left', left_on='team', right_on='home_team' )['away_team' ]
    new_frame    [         'opp_score'] = pd.merge( new_frame, games_df, how='left', left_on='team', right_on='home_team' )['away_score']
    new_frame    [             'score'] = pd.merge( new_frame, games_df, how='left', left_on='team', right_on='home_team' )['home_score']


    # Null values indicate away
    null_ind = new_frame['opp_team'].isnull()

    # Now find the away team stuff
    new_frame.loc[null_ind,'opp_team' ] = pd.merge( new_frame, games_df, how='left', left_on='team', right_on='away_team' )['home_team' ]
    new_frame.loc[null_ind,'opp_score'] = pd.merge( new_frame, games_df, how='left', left_on='team', right_on='away_team' )['home_score']
    new_frame.loc[null_ind,    'score'] = pd.merge( new_frame, games_df, how='left', left_on='team', right_on='away_team' )['away_score']

    # Flag as home or away
    new_frame.loc[ null_ind,'away_flag'] = 1
    new_frame.loc[~null_ind,'home_flag'] = 1

    # Order so more friendly
    new_frame = new_frame[['week','team','score','opp_team','opp_score','home_flag','away_flag']]

    # Combine with previous frame
    results_frame = pd.concat([results_frame, new_frame], ignore_index=True)
    

# Want team, score, home flag, away flag, opp team, opp score

In [10]:
import generate_player_stats
reload(generate_player_stats)
foo = generate_player_stats.generate_stats('Team', 2013 )
foo.head()

,team,week,def_fumb_forced,def_fumb_rec,def_frec_yds,def_frec_tds,def_fg_blk,def_xp_blk,def_punt_blk,def_int,...,kickoff_all_yds_avg,def_tkl_loss_yds_avg,kickret_yds_avg,puntret_yds_avg,tds,score,opp_team,opp_score,home_flag,away_flag
0,ARI,1,2,1,0,0,0,0,0,1,...,0.000000,2.000000,16.0,0.250000,3,24.0,STL,27.0,0,1
1,ARI,2,0,1,0,0,1,0,0,0,...,32.142857,4.000000,NaN,2.000000,2,25.0,DET,21.0,1,0
2,ARI,3,0,0,0,0,0,0,0,1,...,0.000000,4.285714,29.0,1.875000,1,7.0,NO,31.0,0,1
3,ARI,4,0,1,0,0,0,0,0,2,...,0.000000,2.818182,NaN,0.714286,1,13.0,TB,10.0,0,1
4,ARI,5,1,1,43,0,0,0,0,3,...,43.600000,5.625000,18.0,5.000000,2,22.0,CAR,6.0,1,0

In [18]:
# PENALTIES DO NOT DISTINGUISH BETWEEN TEAMS
# UNUSABLE

query_str = (
" SELECT play.pos_team AS poss_team, game.week AS week  "

",   SUM(play.penalty) as penalties "

# NEED TO CONSIDER TEAMS!
# This is due to the other team
",   SUM(play.penalty_first_down) as penalty_first_downs "
",   SUM(CASE WHEN play.penalty_yds < 0 THEN play.penalty_first_down ELSE 0 END) AS penalty_first_downs "

",   SUM(CASE WHEN play.penalty_yds < 0 THEN play.penalty_yds ELSE 0 END) AS penalty_yds "
",   SUM(CASE WHEN play.penalty_yds > 0 THEN play.penalty_yds ELSE 0 END) AS opp_penalty_yds "

    
" FROM game "
" JOIN play "
" ON game.gsis_id = play.gsis_id "

" WHERE game.season_year = 2013 "
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "

" GROUP BY play.pos_team, game.week "
" ORDER BY play.pos_team, game.week "
)

df = pd.read_sql_query(query_str,con=engine)
df.describe()

,week,penalties,penalty_first_downs,penalty_first_downs,penalty_yds,opp_penalty_yds
count,529.000000,529.000000,529.000000,529.0,529.0,529.000000
mean,9.041588,5.888469,1.773157,0.0,0.0,50.856333
std,5.013067,2.901939,1.514312,0.0,0.0,29.230636
min,1.000000,0.000000,0.000000,0.0,0.0,0.000000
25%,5.000000,4.000000,1.000000,0.0,0.0,30.000000
50%,9.000000,6.000000,2.000000,0.0,0.0,50.000000
75%,13.000000,8.000000,3.000000,0.0,0.0,67.000000
max,17.000000,16.000000,10.000000,0.0,0.0,160.000000

In [62]:
# Team stats

query_str = (
" SELECT play_player.team as team, game.week as week  "

# Scored on
",   SUM(play_player.defense_ffum)         as def_fumb_forced "
",   SUM(play_player.defense_frec)         as def_fumb_rec "
",   SUM(play_player.defense_frec_yds)     as def_frec_yds "
",   SUM(play_player.defense_frec_tds)     as def_frec_tds "
",   SUM(play_player.defense_fgblk)        as def_fg_blk "
",   SUM(play_player.defense_xpblk)        as def_xp_blk "
",   SUM(play_player.defense_puntblk)      as def_punt_blk "
",   SUM(play_player.defense_int)          as def_int "
",   SUM(play_player.defense_int_yds)      as def_int_yds "
",   SUM(play_player.defense_int_tds)      as def_int_tds "
",   SUM(play_player.defense_misc_yds)     as def_misc_yds "
",   SUM(play_player.defense_misc_tds)     as def_misc_tds "
",   SUM(play_player.defense_pass_def)     as def_pass_def "
",   SUM(play_player.defense_qbhit)        as def_qbhit "
",   SUM(play_player.defense_sk)           as def_sack "
",   SUM(play_player.defense_sk_yds)       as def_sack_yds "
",   SUM(play_player.defense_safe)         as def_safety "
",   SUM(play_player.defense_tkl_primary)  as def_tkl "
",   SUM(play_player.defense_tkl)          as def_tkl_contributers "
",   SUM(play_player.defense_tkl_loss)     as def_tkl_loss "
",   SUM(play_player.defense_tkl_loss_yds) as def_tkl_loss_yds "
    
",   SUM(play_player.fumbles_forced)    as off_fumb_forced "
",   SUM(play_player.fumbles_notforced) as off_fumb_unforced "
",   SUM(play_player.fumbles_lost)      as off_fumb_lost "
",   SUM(play_player.fumbles_rec)       as off_fumb_rec "
",   SUM(play_player.fumbles_rec_tds)   as off_fumb_rec_tds "
   
",   SUM(play_player.punting_tot) as punts "
",   SUM(play_player.punting_yds) as punt_yds "
",   SUM(play_player.punting_blk) as punt_blk "
",   SUM(play_player.puntret_tot) as punt_rets "
",   SUM(play_player.puntret_yds) as punt_ret_yds "
",   SUM(play_player.puntret_tds) as punt_ret_tds "
    
",   SUM(play_player.kicking_tot)       as kickoffs "
",   SUM(play_player.kicking_all_yds)   as kickoff_all_yds "
",   SUM(play_player.kicking_i20)       as kickoff_in_20 "
",   SUM(play_player.kicking_rec)       as kickoff_own_recovery "
",   SUM(play_player.kicking_rec_tds)   as kickoff_own_recovery_tds "
",   SUM(play_player.kicking_touchback) as kickoff_touchback "
    
",   SUM(play_player.kicking_fga)       as fg_att "
",   SUM(play_player.kicking_fgb)       as fg_blk "
",   SUM(play_player.kicking_fgm)       as fg_made "
",   SUM(play_player.kicking_fgmissed)  as fg_miss "
",   SUM(play_player.kicking_fgm_yds)   as fg_yds "
",   MAX(play_player.kicking_fgm_yds)   as fg_yds_max " 
",   SUM(play_player.kicking_fgmissed_yds) as fg_miss_yds "
",   MIN(NULLIF(play_player.kicking_fgmissed_yds,0)) as fg_miss_yds_min "

",   SUM(play_player.kicking_xpa)       as xp_att "
",   SUM(play_player.kicking_xpb)       as xp_blk "
",   SUM(play_player.kicking_xpmade)    as xp_made "
",   SUM(play_player.kicking_xpmissed)  as xp_miss "
",   SUM(play_player.kickret_ret)       as kickrets"
",   SUM(play_player.kickret_yds)       as kickret_yds "
",   SUM(play_player.kickret_tds)       as kickret_tds "
",   SUM(play_player.kickret_touchback) as kickret_touchback "

",   SUM(play_player.passing_att)    as pass_att "
",   SUM(play_player.passing_cmp)    as pass_cmp "
",   SUM(play_player.passing_incmp)  as pass_incmp "
",   SUM(play_player.passing_int)    as pass_int "
",   SUM(play_player.passing_sk)     as pass_sack "
",   SUM(play_player.passing_sk_yds) as pass_sack_yds "
",   SUM(play_player.passing_tds)    as pass_tds "
",   SUM(play_player.passing_yds)    as pass_yds "

",   SUM(play_player.rushing_att)      as rush_att "
",   SUM(play_player.rushing_yds)      as rush_yds "
",   SUM(play_player.rushing_tds)      as rush_tds "
",   SUM(play_player.rushing_loss)     as rush_loss "
",   SUM(play_player.rushing_loss_yds) as rush_loss_yds "


" FROM game "
" JOIN play_player "
" ON game.gsis_id = play_player.gsis_id "

" WHERE game.season_year = 2013 "
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "

" GROUP BY play_player.team, game.week "
" ORDER BY play_player.team, game.week "
)

df = pd.read_sql_query(query_str,con=engine)

df['kickoff_all_yds_avg' ] = df['kickoff_all_yds' ] / df['kickoffs'    ]
df['def_tkl_loss_yds_avg'] = df['def_tkl_loss_yds'] / df['def_tkl_loss']
df['kickret_yds_avg'     ] = df['kickret_yds'     ] / df['kickrets'    ]
df['puntret_yds_avg'     ] = df['punt_ret_yds'    ] / df['punts'    ]

td_cols = filter(lambda x: '_tds' in x, df.columns.values)
df['tds'] = df[td_cols].aggregate('sum',axis=1)

df.head(20)

,team,week,def_fumb_forced,def_fumb_rec,def_frec_yds,def_frec_tds,def_fg_blk,def_xp_blk,def_punt_blk,def_int,...,rush_att,rush_yds,rush_tds,rush_loss,rush_loss_yds,kickoff_all_yds_avg,def_tkl_loss_yds_avg,kickret_yds_avg,puntret_yds_avg,tds
0,ARI,1,2,1,0,0,0,0,0,1,...,26,86,0,0,0,0.000000,2.000000,16.000000,0.250000,3
1,ARI,2,0,1,0,0,1,0,0,0,...,25,87,1,0,0,32.142857,4.000000,NaN,2.000000,2
2,ARI,3,0,0,0,0,0,0,0,1,...,16,86,1,0,0,0.000000,4.285714,29.000000,1.875000,1
3,ARI,4,0,1,0,0,0,0,0,2,...,20,56,0,0,0,0.000000,2.818182,NaN,0.714286,1
4,ARI,5,1,1,43,0,0,0,0,3,...,28,90,1,0,0,43.600000,5.625000,18.000000,5.000000,2
5,ARI,6,1,1,0,0,0,0,0,1,...,21,109,1,0,0,0.000000,2.800000,21.000000,3.600000,3
6,ARI,7,3,2,2,0,0,0,0,0,...,18,30,1,0,0,48.833333,5.000000,19.333333,0.000000,2
7,ARI,8,0,0,0,0,0,0,0,4,...,30,201,1,0,0,24.000000,5.750000,NaN,-0.800000,3
8,ARI,10,1,1,6,1,1,0,0,0,...,29,97,0,0,0,12.500000,7.600000,19.000000,14.800000,3
9,ARI,11,0,0,0,0,0,0,0,2,...,24,14,1,0,0,0.000000,5.000000,NaN,2.750000,3
10,ARI,12,0,0,0,0,0,0,0,1,...,30,120,1,0,0,0.000000,0.000000,NaN,11.500000,4
11,ARI,13,0,0,0,0,0,0,0,0,...,22,90,0,0,0,17.500000,5.444444,19.750000,0.600000,3
12,ARI,14,1,0,0,0,0,0,0,2,...,32,107,2,0,0,0.000000,5.428571,10.500000,0.750000,4
13,ARI,15,1,1,0,0,0,0,0,2,...,36,145,2,0,0,0.000000,2.600000,24.000000,0.000000,4
14,ARI,16,1,1,-3,0,0,0,0,1,...,43,139,0,0,0,0.000000,3.800000,23.000000,1.200000,1
15,ARI,17,0,0,0,0,0,0,0,0,...,22,83,0,0,0,14.600000,6.200000,15.666667,0.666667,2
16,ATL,1,0,0,0,0,0,0,0,1,...,14,88,0,0,0,0.000000,3.714286,NaN,3.500000,2
17,ATL,2,0,0,0,0,0,0,0,1,...,16,36,1,0,0,61.166667,1.666667,17.000000,0.666667,4
18,ATL,3,2,1,0,0,0,0,0,1,...,30,146,0,0,0,0.000000,5.666667,NaN,2.000000,2
19,ATL,4,0,0,0,0,0,0,0,0,...,15,58,0,0,0,50.000000,3.333333,29.000000,2.000000,2

In [84]:
# Kickers

query_str = (
" SELECT play_player.player_id as player_id, play_player.team, game.week "
    
# Extra points
",   SUM(play_player.kicking_xpmade) as xp_made "
",   SUM(play_player.kicking_xpmissed) as xp_miss "

# Field goals    
",   SUM(play_player.kicking_fgm) as fg_made "
",   SUM(play_player.kicking_fgmissed) as fg_miss "
    
# Maximum range + minimum missed
",   MAX(play_player.kicking_fgm_yds) as fg_made_max "
",   MIN(NULLIF(play_player.kicking_fgmissed_yds,0)) as fg_miss_min "
    
" FROM game "
" JOIN play_player "
" ON game.gsis_id = play_player.gsis_id "
" JOIN player"
" ON play_player.player_id = player.player_id"
" WHERE game.season_year = 2013 "
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "
"  AND player.position  = 'K' "
" GROUP BY play_player.player_id, play_player.team, game.week "
" ORDER BY play_player.player_id, game.week "
)

df = pd.read_sql_query(query_str,con=engine)
df.head(20)

,player_id,team,week,xp_made,xp_miss,fg_made,fg_miss,fg_made_max,fg_miss_min
0,00-0004091,SF,1,4,0,2,1,33,48.0
1,00-0004091,SF,2,0,0,1,0,21,NaN
2,00-0004091,SF,3,1,0,0,0,0,NaN
3,00-0004091,SF,4,5,0,0,2,0,53.0
4,00-0004091,SF,5,3,0,2,0,38,NaN
5,00-0004091,SF,6,3,0,3,0,44,NaN
6,00-0004091,SF,7,3,0,1,0,44,NaN
7,00-0004091,SF,8,5,0,0,0,0,NaN
8,00-0004091,SF,10,0,0,3,0,52,NaN
9,00-0004091,SF,11,2,0,2,0,55,NaN
10,00-0004091,SF,12,3,0,2,0,49,NaN
11,00-0004091,SF,13,2,0,3,0,43,NaN
12,00-0004091,SF,14,1,0,4,0,52,NaN
13,00-0004091,SF,15,2,0,4,0,47,NaN
14,00-0004091,SF,16,3,0,2,0,49,NaN
15,00-0004091,SF,17,2,0,3,1,56,24.0
16,00-0016919,IND,1,3,0,0,0,0,NaN
17,00-0016919,IND,2,2,0,2,1,38,52.0
18,00-0016919,IND,3,3,0,2,1,43,51.0
19,00-0016919,IND,4,3,0,3,0,46,NaN

In [10]:
# QB
#",   SUM(play_player.) as  "


query_str = (
" SELECT play_player.player_id as player_id, play_player.team, game.week "

# Scored on
",   SUM(play_player.passing_yds) as pass_yds "
",   SUM(play_player.passing_tds) as pass_tds "
",   SUM(play_player.passing_int) as pass_int "
",   SUM(play_player.rushing_att) as rush_att "
",   SUM(play_player.rushing_yds) as rush_yds "
",   SUM(play_player.rushing_tds) as rush_tds "

# Fumble scores
",   SUM(play_player.fumbles_lost) as fumb_lost "
",   SUM(play_player.fumbles_rec_tds) as fumb_rec_tds "    

# More fumbles
",   SUM(play_player.fumbles_rec) as fumb_rec "
",   SUM(play_player.fumbles_forced) as fumb_forced "    
",   SUM(play_player.fumbles_notforced) as fumb_nforced "
    
# Possible features
",   SUM(play_player.passing_att) as pass_attempts "
",   SUM(play_player.passing_cmp) as pass_complete "
",   SUM(play_player.passing_incmp) as pass_incomplete "
",   AVG(play_player.passing_cmp_air_yds) as pass_air_yds_avg "
",   MAX(play_player.passing_cmp_air_yds) as pass_air_yds_max "
",   SUM(play_player.passing_sk) as sacks "
",   SUM(play_player.passing_sk_yds) as sack_yards "

#
",   SUM(play_player.rushing_att) as rush_att "

    
" FROM game "
" JOIN play_player "
" ON game.gsis_id = play_player.gsis_id "
" JOIN player"
" ON play_player.player_id = player.player_id"
" WHERE game.season_year = 2017 "
"  AND game.week=12 "
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "
"  AND player.position  = 'QB' "
" GROUP BY play_player.player_id, play_player.team, game.week "
" ORDER BY play_player.player_id, game.week "
)

df = pd.read_sql_query(query_str,con=engine)
df.head(50)

,player_id,team,week,pass_yds,pass_tds,pass_int,rush_att,rush_yds,rush_tds,fumb_lost,...,fumb_forced,fumb_nforced,pass_attempts,pass_complete,pass_incomplete,pass_air_yds_avg,pass_air_yds_max,sacks,sack_yards,rush_att
0,00-0019596,NE,12,227,4,1,5,-4,0,1,...,0,2,28,18,10,3.970588,25,1,-6,5
1,00-0020531,NO,12,246,1,0,1,5,0,0,...,1,0,32,22,10,2.500000,25,3,-23,1
2,00-0021206,NYJ,12,307,3,0,2,28,0,1,...,1,0,36,19,17,4.756098,49,3,-25,2
3,00-0022803,NYG,12,113,0,1,1,-1,0,0,...,1,1,27,13,14,2.060606,19,5,-27,1
4,00-0022924,PIT,12,351,4,2,3,25,0,0,...,0,0,45,33,12,3.740000,25,1,-10,3
5,00-0022942,UNK,12,434,3,0,5,-5,0,0,...,0,0,33,27,6,5.538462,40,0,0,5
6,00-0023436,KC,12,199,1,1,5,35,0,0,...,0,0,36,23,13,1.767442,20,2,-18,5
7,00-0023682,TB,12,283,0,0,2,20,0,0,...,0,0,44,27,17,3.914894,15,1,-4,2
8,00-0025708,MIA,12,215,1,2,2,9,0,0,...,0,0,34,23,11,2.418605,28,7,-61,2
9,00-0026143,ATL,12,317,1,0,1,1,0,0,...,0,0,35,26,9,5.388889,23,0,0,1
10,00-0026158,BAL,12,141,0,0,6,42,0,0,...,0,0,32,20,12,1.923077,16,1,-8,6
11,00-0026498,DET,12,250,2,1,1,0,0,1,...,1,1,35,20,15,3.871795,41,3,-14,1
12,00-0027796,BUF,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0.000000,0,0,0,0
13,00-0027939,CAR,12,168,0,0,9,28,1,0,...,0,1,28,11,17,2.243902,20,3,-14,9
14,00-0027948,ARI,12,241,2,1,6,17,0,1,...,1,1,38,22,16,3.760870,45,1,-5,6
15,00-0027973,CIN,12,214,2,0,4,26,0,0,...,0,0,28,18,10,2.393939,16,1,-5,4
16,00-0028118,BUF,12,183,1,0,9,27,0,0,...,0,0,29,19,10,2.550000,15,2,-19,9
17,00-0028986,MIN,12,282,2,0,7,20,1,0,...,0,0,30,21,9,3.692308,22,2,-10,7
18,00-0029263,SEA,12,228,2,1,7,25,1,0,...,0,1,34,20,14,3.097561,21,0,0,7
19,00-0029567,PHI,12,21,0,0,4,-3,0,1,...,0,1,3,3,0,1.571429,5,0,0,4
20,00-0029604,WAS,12,242,2,1,3,4,0,0,...,0,0,31,19,12,2.714286,25,6,-41,3
21,00-0031064,HOU,12,252,0,2,0,0,0,1,...,1,0,37,22,15,3.950000,34,2,-15,0
22,00-0031280,OAK,12,253,2,0,3,-3,0,1,...,1,0,24,18,6,4.862069,43,2,-9,3
23,00-0031345,SF,12,18,1,0,1,4,0,0,...,0,0,2,2,0,6.000000,10,0,0,1
24,00-0031407,JAC,12,160,0,1,6,62,2,0,...,1,0,33,19,14,0.904762,10,3,-32,6
25,00-0031589,GB,12,245,3,0,1,6,0,0,...,0,0,26,17,9,1.903226,33,4,-18,1
26,00-0032156,DEN,12,149,2,0,2,9,0,0,...,0,0,21,11,10,4.583333,25,1,-7,2
27,00-0032268,TEN,12,184,1,2,3,4,0,0,...,0,0,25,17,8,3.535714,33,0,0,3
28,00-0032950,PHI,12,227,3,0,5,29,0,0,...,0,0,36,23,13,3.500000,17,1,-4,5
29,00-0033077,DAL,12,179,0,2,0,0,0,0,...,0,0,27,20,7,3.800000,16,2,-11,0
30,00-0033104,CLE,12,0,0,0,0,0,0,0,...,0,0,1,0,1,0.000000,0,1,-9,0
31,00-0033106,LA,12,354,2,1,3,-3,0,0,...,0,0,43,28,15,3.340000,26,4,-27,3
32,00-0033108,DEN,12,41,0,1,2,20,0,0,...,1,0,14,9,5,1.190476,16,4,-23,2
33,00-0033119,IND,12,196,0,0,3,16,0,1,...,0,2,29,17,12,1.975000,15,8,-31,3

In [31]:
# WR
#",   SUM(play_player.) as  "


query_str = (
" SELECT play_player.player_id as player_id, game.week "

# Scored on
",   SUM(play_player.receiving_rec) as receptions "
",   SUM(play_player.receiving_yds) as rec_yds "

# Fumble scores
",   SUM(play_player.fumbles_lost) as fumb_lost "
",   SUM(play_player.fumbles_rec_tds) as fumb_rec_tds "    

# More fumbles
",   SUM(play_player.fumbles_rec) as fumb_rec "
",   SUM(play_player.fumbles_forced) as fumb_forced "    
",   SUM(play_player.fumbles_notforced) as fumb_nforced "
    
# Possible features
",   SUM(play_player.receiving_tar) as rec_target "
",   SUM(play_player.receiving_yac_yds) as yards_after_compl "

# 
",   AVG(play_player.kickret_yds) as return_yds_avg "
",   SUM(play_player.kickret_yds) as return_yds "
",   SUM(play_player.kickret_tds) as return_tds "
",   SUM(play_player.kickret_touchback) as touchbacks "
    
" FROM game "
" JOIN play_player "
" ON game.gsis_id = play_player.gsis_id "
" JOIN player"
" ON play_player.player_id = player.player_id"
" WHERE game.season_year = 2017 "
"  AND game.week = 12"
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "
"  AND player.position  = 'WR' "
" GROUP BY play_player.player_id, game.week "
" ORDER BY play_player.player_id, game.week "
)

df = pd.read_sql_query(query_str,con=engine)
df.head(50)

,player_id,week,receptions,rec_yds,fumb_lost,fumb_rec_tds,fumb_rec,fumb_forced,fumb_nforced,rec_target,yards_after_compl,return_yds_avg,return_yds,return_tds,touchbacks
0,00-0022921,12,3,12,0,0,0,0,0,8,1,0.000,0,0,0
1,00-0025396,12,7,71,0,0,0,0,0,11,18,0.000,0,0,0
2,00-0026035,12,1,15,0,0,0,1,0,4,9,0.000,0,0,0
3,00-0026176,12,3,11,0,0,0,0,0,5,13,0.000,0,0,0
4,00-0026189,12,8,60,0,0,0,0,0,11,17,0.000,0,0,0
5,00-0026224,12,1,8,0,0,0,0,0,3,12,0.000,0,0,0
6,00-0026901,12,5,48,0,0,0,0,0,11,17,0.000,0,0,0
7,00-0026995,12,1,6,0,0,0,0,0,5,3,0.000,0,0,0
8,00-0027006,12,2,52,0,0,0,0,0,2,13,0.000,0,0,0
9,00-0027057,12,0,0,0,0,1,0,1,0,0,0.000,0,0,0
10,00-0027089,12,2,14,0,0,0,0,0,4,0,0.000,0,0,0
11,00-0027681,12,3,33,0,0,0,0,0,6,34,0.000,0,0,0
12,00-0027685,12,3,12,0,0,0,0,0,6,3,0.000,0,0,0
13,00-0027690,12,3,23,0,0,0,0,0,4,8,0.000,0,0,0
14,00-0027691,12,0,0,0,0,0,0,0,0,0,16.125,129,0,0
15,00-0027793,12,10,169,0,0,0,0,0,12,45,0.000,0,0,0
16,00-0027874,12,5,18,0,0,0,0,0,8,11,0.000,0,0,0
17,00-0027891,12,4,7,0,0,0,0,0,8,6,0.000,0,0,0
18,00-0027902,12,3,37,0,0,0,0,0,5,2,0.000,0,0,0
19,00-0027942,12,5,66,0,0,0,0,0,8,4,0.000,0,0,0
20,00-0027944,12,12,253,0,0,0,0,0,15,60,0.000,0,0,0
21,00-0027996,12,4,30,0,0,0,0,0,5,7,0.000,0,0,0
22,00-0028002,12,4,58,0,0,0,0,0,4,37,0.000,0,0,0
23,00-0028116,12,1,8,0,0,0,0,0,3,0,0.000,0,0,0
24,00-0028411,12,4,64,0,0,0,0,0,9,0,0.000,0,0,0
25,00-0028434,12,2,25,0,0,0,0,0,3,8,0.000,0,0,0
26,00-0029000,12,2,19,0,0,0,0,0,3,6,0.000,0,0,0
27,00-0029137,12,5,52,0,0,0,0,0,9,0,0.000,0,0,0
28,00-0029159,12,7,105,0,0,0,0,0,11,51,0.000,0,0,0
29,00-0029269,12,3,50,0,0,0,0,0,3,15,0.000,0,0,0
30,00-0029293,12,6,109,0,0,0,0,0,9,46,0.000,0,0,0
31,00-0029388,12,1,6,0,0,0,0,0,2,1,0.000,0,0,0
32,00-0029394,12,0,0,0,0,0,0,0,1,0,0.000,0,0,0
33,00-0029572,12,2,25,0,0,0,0,0,3,9,0.000,0,0,0
34,00-0029608,12,2,15,0,0,0,0,0,5,2,0.000,0,0,0
35,00-0029632,12,8,64,0,0,0,0,0,9,29,0.000,0,0,0
36,00-0029638,12,1,8,0,0,0,0,0,1,2,0.000,0,0,0
37,00-0029708,12,2,15,0,0,0,0,0,5,6,0.000,0,0,0
38,00-0030035,12,8,89,0,0,0,0,0,11,18,0.000,0,0,0
39,00-0030068,12,4,78,0,0,0,0,0,6,10,0.000,0,0,0
40,00-0030085,12,3,47,0,0,0,0,0,6,9,0.000,0,0,0
41,00-0030091,12,2,36,0,0,0,0,0,4,9,0.000,0,0,0
42,00-0030147,12,0,0,0,0,0,0,0,0,0,0.000,0,0,0
43,00-0030279,12,11,172,0,0,0,0,0,14,68,0.000,0,0,0
44,00-0030300,12,1,52,0,0,0,0,0,1,7,0.000,0,0,0
45,00-0030460,12,0,0,0,0,0,0,0,1,0,0.000,0,0,0
46,00-0030516,12,1,5,0,0,0,0,0,2,0,0.000,0,0,0
47,00-0030521,12,0,0,0,0,0,0,0,1,0,0.000,0,0,0
48,00-0030525,12,3,-1,0,0,0,0,0,4,9,0.000,0,0,0
49,00-0030542,12,4,54,0,0,0,0,0,5,27,0.000,0,0,0

In [38]:
# TE, like wide reciever but no kicking stats
#",   SUM(play_player.) as  "


query_str = (
" SELECT play_player.player_id as player_id, game.week "

# Scored on
",   SUM(play_player.receiving_rec) as receptions "
",   SUM(play_player.receiving_yds) as rec_yds "

# Fumble scores
",   SUM(play_player.fumbles_lost) as fumb_lost "
",   SUM(play_player.fumbles_rec_tds) as fumb_rec_tds "    

# More fumbles
",   SUM(play_player.fumbles_rec) as fumb_rec "
",   SUM(play_player.fumbles_forced) as fumb_forced "    
",   SUM(play_player.fumbles_notforced) as fumb_nforced "
    
# Possible features
",   SUM(play_player.receiving_tar) as rec_target "
",   SUM(play_player.receiving_yac_yds) as yards_after_compl "
    
" FROM game "
" JOIN play_player "
" ON game.gsis_id = play_player.gsis_id "
" JOIN player"
" ON play_player.player_id = player.player_id"
" WHERE game.season_year = 2013 "
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "
"  AND player.position  = 'TE' "
" GROUP BY play_player.player_id, game.week "
" ORDER BY play_player.player_id, game.week "
)

df = pd.read_sql_query(query_str,con=engine)
df.head(50)

,name,week,receptions,rec_yds,fumb_lost,fumb_rec_tds,fumb_rec,fumb_forced,fumb_nforced,rec_target,yards_after_compl
0,Andrew Quarless,2,1,7,0,0,0,0,0,3,5
1,Andrew Quarless,3,3,21,0,0,0,0,0,5,11
2,Andrew Quarless,7,0,0,0,0,0,0,0,1,0
3,Andrew Quarless,8,2,13,0,0,0,0,0,2,8
4,Andrew Quarless,9,5,34,0,0,0,0,0,7,10
5,Andrew Quarless,10,1,8,0,0,0,0,0,4,7
6,Andrew Quarless,11,2,18,0,0,0,0,0,3,17
7,Andrew Quarless,12,2,22,0,0,0,0,0,3,11
8,Andrew Quarless,13,1,7,0,0,0,0,0,2,0
9,Andrew Quarless,14,6,66,0,0,0,0,0,7,26
10,Andrew Quarless,15,6,66,0,0,0,0,0,6,26
11,Andrew Quarless,16,1,19,0,0,0,0,0,4,15
12,Andrew Quarless,17,2,31,0,0,0,0,0,6,1
13,Anthony Fasano,1,2,8,0,0,0,0,0,5,5
14,Anthony Fasano,2,2,26,0,0,0,0,0,2,15
15,Anthony Fasano,7,4,27,0,0,0,0,0,5,2
16,Anthony Fasano,8,2,14,0,0,0,0,0,3,5
17,Anthony Fasano,9,1,20,0,0,0,0,0,1,9
18,Anthony Fasano,11,4,37,0,0,0,0,0,4,15
19,Anthony Fasano,12,4,21,0,0,0,0,0,5,7
20,Anthony Fasano,13,3,28,0,0,1,0,0,5,9
21,Anthony Fasano,16,1,19,0,0,0,0,0,4,6
22,Antonio Gates,1,2,49,0,0,0,0,0,4,28
23,Antonio Gates,2,8,124,1,0,0,1,0,10,73
24,Antonio Gates,3,5,55,0,0,0,0,0,7,1
25,Antonio Gates,4,10,136,0,0,0,0,0,10,56
26,Antonio Gates,5,7,74,0,0,0,0,0,10,25
27,Antonio Gates,6,4,28,0,0,0,0,0,8,25
28,Antonio Gates,7,6,31,0,0,0,0,0,6,6
29,Antonio Gates,9,6,53,0,0,0,0,0,10,24
30,Antonio Gates,10,4,62,0,0,0,0,0,8,24
31,Antonio Gates,11,4,52,0,0,0,0,0,6,47
32,Antonio Gates,12,3,21,0,0,0,0,0,8,7
33,Antonio Gates,13,5,41,1,0,0,1,0,9,14
34,Antonio Gates,14,4,50,0,0,0,0,0,6,22
35,Antonio Gates,15,2,23,0,0,0,0,0,3,16
36,Antonio Gates,16,3,42,0,0,0,0,0,3,30
37,Antonio Gates,17,4,31,0,0,0,0,0,5,0
38,Benjamin Watson,1,3,31,0,0,0,0,0,3,14
39,Benjamin Watson,3,0,0,0,0,0,0,0,1,0
40,Benjamin Watson,4,1,4,0,0,0,0,0,2,8
41,Benjamin Watson,5,0,0,0,0,0,0,0,1,0
42,Benjamin Watson,6,3,61,0,0,0,0,0,4,16
43,Benjamin Watson,8,3,45,0,0,0,0,0,3,3
44,Benjamin Watson,9,0,0,0,0,0,0,0,1,0
45,Benjamin Watson,10,1,5,0,0,0,0,0,3,6
46,Benjamin Watson,12,1,1,0,0,0,0,0,2,0
47,Benjamin Watson,13,0,0,0,0,0,0,0,1,0
48,Benjamin Watson,14,1,20,0,0,0,0,0,1,2
49,Benjamin Watson,15,2,12,0,0,0,0,0,3,5

In [44]:
# RB
#",   SUM(play_player.) as  "

query_str = (
" SELECT player.full_name as player_id, game.week "

# Scored on
",   SUM(play_player.receiving_rec) as receptions "
",   SUM(play_player.receiving_yds) as rec_yds "
",   SUM(play_player.rushing_yds) as rush_yds "

# Fumble scores
",   SUM(play_player.fumbles_lost) as fumb_lost "
",   SUM(play_player.fumbles_rec_tds) as fumb_rec_tds "    

# More fumbles
",   SUM(play_player.fumbles_rec) as fumb_rec "
",   SUM(play_player.fumbles_forced) as fumb_forced "    
",   SUM(play_player.fumbles_notforced) as fumb_nforced "
    
# Possible features
",   SUM(play_player.receiving_tar) as rec_target "
",   SUM(play_player.receiving_yac_yds) as yards_after_compl "
",   AVG(play_player.receiving_yds) as rec_yds_avg "
    
#
",   SUM(play_player.rushing_att) as rush_att "
    
# 
",   AVG(play_player.kickret_yds) as return_yds_avg "
",   SUM(play_player.kickret_yds) as return_yds "
",   SUM(play_player.kickret_tds) as return_tds "
",   SUM(play_player.kickret_touchback) as touchbacks "
    
" FROM game "
" JOIN play_player "
" ON game.gsis_id = play_player.gsis_id "
" JOIN player"
" ON play_player.player_id = player.player_id"
" WHERE game.season_year = 2017 "
"  AND game.week = 12 "
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "
"  AND player.position  = 'RB' "
" GROUP BY player.full_name, game.week "
" ORDER BY player.full_name, game.week "
)

df = pd.read_sql_query(query_str,con=engine)
df.head(50)

,player_id,week,receptions,rec_yds,rush_yds,fumb_lost,fumb_rec_tds,fumb_rec,fumb_forced,fumb_nforced,rec_target,yards_after_compl,rec_yds_avg,rush_att,return_yds_avg,return_yds,return_tds,touchbacks
0,Adrian Peterson,12,4,20,79,0,0,1,0,0,5,10,0.740741,20,0.000000,0,0,0
1,Alex Collins,12,2,-3,60,0,0,0,0,0,2,7,-0.166667,16,0.000000,0,0,0
2,Alfred Blue,12,2,11,15,0,0,0,0,0,2,12,1.100000,8,0.000000,0,0,0
3,Alfred Morris,12,1,13,36,0,0,0,0,0,1,17,1.300000,9,0.000000,0,0,0
4,Ameer Abdullah,12,3,29,14,0,0,0,0,0,5,25,2.416667,6,0.000000,0,0,0
5,Benny Cunningham,12,1,9,-1,0,0,0,0,0,2,13,2.250000,1,0.000000,0,0,0
6,Bilal Powell,12,1,12,34,0,0,0,0,0,1,0,1.200000,9,0.000000,0,0,0
7,Cameron Artis-Payne,12,0,0,0,0,0,0,0,0,0,0,0.000000,1,0.000000,0,0,0
8,Carlos Hyde,12,7,21,47,0,0,0,0,0,13,16,0.724138,16,0.000000,0,0,0
9,Charcandrick West,12,3,7,0,0,0,0,0,0,4,0,1.166667,0,6.166667,37,0,0
10,Charles Sims,12,3,26,3,0,0,0,0,0,5,19,4.333333,1,0.000000,0,0,0
11,Chris Ivory,12,0,0,-6,1,0,0,1,0,0,0,0.000000,1,0.000000,0,0,0
12,C.J. Anderson,12,0,0,12,0,0,0,0,0,0,0,0.000000,5,0.000000,0,0,0
13,Corey Grant,12,0,0,0,0,0,0,0,0,0,0,0.000000,0,68.000000,68,0,0
14,Damien Williams,12,3,14,38,0,0,0,0,0,5,12,1.076923,8,0.000000,0,0,0
15,Danny Woodhead,12,4,23,22,0,0,0,0,0,4,17,2.875000,4,0.000000,0,0,0
16,DeAndre Washington,12,3,23,23,0,0,0,0,0,3,18,2.555556,6,0.000000,0,0,0
17,DeMarco Murray,12,3,33,9,0,0,0,0,0,4,31,2.062500,12,0.000000,0,0,0
18,Derrick Henry,12,1,10,79,0,0,0,0,0,2,8,0.666667,13,0.000000,0,0,0
19,Devontae Booker,12,2,22,11,0,0,0,0,0,2,4,2.444444,6,1.555556,14,0,0
20,Dion Lewis,12,1,1,112,0,0,0,0,0,2,5,0.052632,15,1.842105,35,0,0
21,D.J. Foster,12,3,18,4,0,0,0,0,0,4,5,2.571429,1,7.142857,50,0,0
22,Doug Martin,12,0,0,33,0,0,0,0,0,0,0,0.000000,7,0.000000,0,0,0
23,Duke Johnson,12,4,32,35,0,0,1,0,0,5,25,2.666667,6,0.000000,0,0,0
24,Eddie Lacy,12,3,15,46,0,0,0,0,0,3,20,0.750000,17,0.000000,0,0,0
25,Fozzy Whittaker,12,0,0,0,0,0,0,0,0,0,0,0.000000,0,24.500000,49,0,0
26,Frank Gore,12,2,17,62,0,0,0,0,0,5,23,0.772727,17,0.000000,0,0,0
27,Giovani Bernard,12,1,15,12,0,0,0,0,0,1,20,3.750000,3,0.000000,0,0,0
28,Isaiah Crowell,12,1,10,95,0,0,0,0,0,2,6,0.555556,16,0.000000,0,0,0
29,Jalen Richard,12,2,13,17,0,0,0,0,0,2,9,1.625000,2,0.000000,0,0,0
30,Jamaal Charles,12,2,7,3,0,0,0,0,0,3,2,1.750000,1,0.000000,0,0,0
31,James White,12,1,2,13,0,0,0,0,0,2,2,0.400000,3,0.000000,0,0,0
32,Javorius Allen,12,1,2,15,0,0,0,0,0,1,0,0.333333,5,0.000000,0,0,0
33,Jay Ajayi,12,1,7,26,0,0,0,1,0,2,13,0.875000,5,0.000000,0,0,0
34,Jerick McKinnon,12,1,31,23,0,0,0,0,0,3,38,1.937500,13,0.000000,0,0,0
35,Jonathan Stewart,12,0,0,26,0,0,1,0,0,0,0,0.000000,15,0.000000,0,0,0
36,Jordan Howard,12,2,13,6,0,0,1,0,0,2,13,1.300000,7,0.000000,0,0,0
37,Jordan Todman,12,0,0,0,0,0,0,0,0,0,0,0.000000,0,20.000000,20,0,0
38,Kenjon Barner,12,0,0,0,0,0,0,0,0,1,0,0.000000,0,0.000000,0,0,0
39,Kenyan Drake,12,3,27,20,1,0,0,1,0,4,32,2.076923,9,0.000000,0,0,0
40,Lamar Miller,12,1,7,51,0,0,0,0,0,3,6,0.350000,17,0.000000,0,0,0
41,Latavius Murray,12,0,0,84,0,0,0,0,0,1,0,0.000000,20,0.000000,0,0,0
42,LeGarrette Blount,12,0,0,97,1,0,0,1,0,0,0,0.000000,15,0.000000,0,0,0
43,LeSean McCoy,12,4,30,49,0,0,0,0,0,4,25,1.153846,22,0.000000,0,0,0
44,Le'Veon Bell,12,12,88,95,1,0,0,1,0,14,88,2.588235,20,0.000000,0,0,0
45,Mark Ingram,12,2,5,31,0,0,0,0,0,3,5,0.357143,11,0.000000,0,0,0
46,Matt Forte,12,0,0,26,0,0,0,0,0,1,0,0.000000,10,0.000000,0,0,0
47,Melvin Gordon,12,3,23,65,0,0,0,0,0,3,25,0.958333,21,0.000000,0,0,0
48,Orleans Darkwa,12,1,9,30,0,0,0,0,0,1,6,0.750000,11,0.000000,0,0,0
49,Paul Perkins,12,0,0,0,0,0,0,0,0,0,0,0.000000,0,0.000000,0,0,0

In [27]:
# D
#",   SUM(play_player.) as  "

query_str = (
" SELECT play_player.team as team, game.week "

# Scored on
",   SUM(play_player.defense_frec_tds) as fumb_tds "
",   SUM(play_player.defense_int_tds) as int_tds "
",   SUM(play_player.defense_misc_tds) as misc_tds "
",   SUM(play_player.defense_int) as int "
",   SUM(play_player.defense_frec) as fumb_rec "
",   SUM(play_player.defense_sk) as sacks "
",   SUM(play_player.defense_safe) as safeties "
",   SUM(play_player.defense_fgblk) as fg_blk "
",   SUM(play_player.defense_puntblk) as punt_blk "
",   SUM(play_player.defense_xpblk) as xp_blk "

# Features
",   SUM(play_player.defense_ast) as assisted_tackles "
",   SUM(play_player.defense_tkl_primary) as tackles "
",   SUM(play_player.defense_ffum) as fumb_forced "
",   SUM(play_player.defense_frec_yds) as fumb_rec_yds "
",   SUM(play_player.defense_int_yds) as int_yds "
",   SUM(play_player.defense_misc_yds) as misc_yds "
",   SUM(play_player.defense_pass_def) as pass_def "
",   SUM(play_player.defense_qbhit) as qb_hit "
",   SUM(play_player.defense_sk_yds) as sack_yds "
",   AVG(play_player.defense_sk_yds) as sack_yds_avg "
",   SUM(play_player.defense_tkl_loss) as tackle_loss "
",   SUM(play_player.defense_tkl_loss_yds) as tkl_loss_yds "
",   AVG(play_player.defense_tkl_loss_yds) as tkl_loss_yds_avg "


    
" FROM game "
" JOIN play_player "
" ON game.gsis_id = play_player.gsis_id "
" JOIN player"
" ON play_player.player_id = player.player_id"

" WHERE game.season_year = 2013 "
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "

" GROUP BY play_player.team, game.week "
" ORDER BY play_player.team, game.week "
)

df = pd.read_sql_query(query_str,con=engine)
df.head(20)

,team,week,fumb_tds,int_tds,misc_tds,int,fumb_rec,sacks,safeties,fg_blk,...,fumb_rec_yds,int_yds,misc_yds,pass_def,qb_hit,sack_yds,sack_yds_avg,tackle_loss,tkl_loss_yds,tkl_loss_yds_avg
0,ARI,1,0,1,0,1,1,0.0,0,0,...,0,2,0,6,5,0,0.000000,3,6,0.029703
1,ARI,2,0,0,0,0,1,1.0,0,1,...,0,0,0,4,2,-5,-0.026316,6,24,0.126316
2,ARI,3,0,0,0,1,0,4.0,0,0,...,0,0,0,6,5,-23,-0.136095,7,30,0.177515
3,ARI,4,0,0,0,2,1,2.0,0,0,...,0,16,0,4,8,-20,-0.101010,11,31,0.156566
4,ARI,5,0,0,0,3,1,7.0,1,0,...,43,87,0,8,11,-50,-0.299401,8,45,0.269461
5,ARI,6,0,0,0,1,1,2.0,0,0,...,0,0,0,10,4,-21,-0.100962,5,14,0.067308
6,ARI,7,0,0,0,0,2,3.0,0,0,...,2,0,0,4,9,-26,-0.125604,3,15,0.072464
7,ARI,8,0,0,0,4,0,4.0,0,0,...,0,44,0,12,11,-36,-0.209302,8,46,0.267442
8,ARI,10,1,0,0,0,1,3.0,0,1,...,6,0,0,6,10,-42,-0.215385,5,38,0.194872
9,ARI,11,0,0,0,2,0,2.0,0,0,...,0,15,0,8,4,-13,-0.064356,4,20,0.099010
10,ARI,12,0,1,0,1,0,1.0,0,0,...,0,22,0,8,8,-8,-0.040609,1,0,0.000000
11,ARI,13,0,0,0,0,0,5.0,0,0,...,0,0,0,5,7,-44,-0.212560,9,49,0.236715
12,ARI,14,0,1,0,2,0,4.0,1,0,...,0,29,0,6,7,-24,-0.133333,7,38,0.211111
13,ARI,15,0,1,0,2,1,3.0,0,0,...,0,36,0,7,7,-13,-0.061611,5,13,0.061611
14,ARI,16,0,0,0,1,1,4.0,0,0,...,-3,0,0,6,9,-19,-0.100000,5,19,0.100000
15,ARI,17,0,0,0,0,0,2.0,0,0,...,0,0,0,3,3,-18,-0.089109,5,31,0.153465
16,ATL,1,0,0,0,1,0,2.0,0,0,...,0,0,0,4,3,-16,-0.088398,7,26,0.143646
17,ATL,2,0,1,0,1,0,0.0,0,0,...,0,68,0,6,6,0,0.000000,3,5,0.025773
18,ATL,3,0,0,0,1,1,5.0,0,0,...,0,19,0,5,6,-49,-0.270718,3,17,0.093923
19,ATL,4,0,0,0,0,0,0.0,0,0,...,0,0,0,2,2,0,0.000000,3,10,0.048309