In [2]:
import numpy
import nfldb
import pandas as pd

import matplotlib.pyplot as plt

In [3]:
%matplotlib inline
plt.style.use('dark_background')

In [4]:
# Sets up the database engine
# nfldb is user name, football is password, localhost is our system, nfldb is the name of the database

from sqlalchemy import create_engine

engine = create_engine('postgresql://nfldb:football@localhost/nfldb')

In [9]:
# Example

query_str = (
" SELECT player.full_name as name, game.week, SUM(play_player.passing_yds) as passing_yards"
" FROM game "
" JOIN play_player "
" ON game.gsis_id = play_player.gsis_id "
" JOIN player"
" ON play_player.player_id = player.player_id"
" WHERE game.season_year = 2013 "
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "
"  AND play_player.passing_yds > 0 "
" GROUP BY player.full_name, game.week "
" ORDER BY player.full_name, game.week "
" LIMIT 20 "
)

df = pd.read_sql_query(query_str,con=engine)
df.head(20)

             name  week  passing_yards
0   Aaron Rodgers     1            333
1   Aaron Rodgers     2            480
2   Aaron Rodgers     3            244
3   Aaron Rodgers     5            279
4   Aaron Rodgers     6            315
5   Aaron Rodgers     7            260
6   Aaron Rodgers     8            286
7   Aaron Rodgers     9             27
8   Aaron Rodgers    17            318
9     Ace Sanders    14             21
10     Alex Smith     1            173
11     Alex Smith     2            223
12     Alex Smith     3            273
13     Alex Smith     4            288
14     Alex Smith     5            245
15     Alex Smith     6            129
16     Alex Smith     7            244
17     Alex Smith     8            225
18     Alex Smith     9            130
19     Alex Smith    11            236

In [24]:
# Kickers

query_str = (
" SELECT player.full_name as name, game.week, "
"   SUM(play_player.kicking_xpmade) as xp_made, "
"   SUM(play_player.kicking_xpmissed) as xp_miss, "
"   SUM(play_player.kicking_fgm) as fg_made, "
"   SUM(play_player.kicking_fgmissed) as fg_miss, "
"   MAX(play_player.kicking_fgm_yds) as fg_made_max, "
"   MIN(NULLIF(play_player.kicking_fgmissed_yds,0)) as fg_miss_min "
" FROM game "
" JOIN play_player "
" ON game.gsis_id = play_player.gsis_id "
" JOIN player"
" ON play_player.player_id = player.player_id"
" WHERE game.season_year = 2013 "
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "
"  AND player.position  = 'K' "
" GROUP BY player.full_name, game.week "
" ORDER BY player.full_name, game.week "
)

df = pd.read_sql_query(query_str,con=engine)
df.head(50)

,name,week,xp_made_sum,xp_miss_sum,fg_made_sum,fg_miss_sum,fg_made_max,fg_miss_min
0,Adam Vinatieri,1,3,0,0,0,0,NaN
1,Adam Vinatieri,2,2,0,2,1,38,52.0
2,Adam Vinatieri,3,3,0,2,1,43,51.0
3,Adam Vinatieri,4,3,0,3,0,46,NaN
4,Adam Vinatieri,5,1,0,2,0,49,NaN
5,Adam Vinatieri,6,0,0,3,0,51,NaN
6,Adam Vinatieri,7,4,0,3,0,52,NaN
7,Adam Vinatieri,9,1,0,2,1,35,42.0
8,Adam Vinatieri,11,3,0,3,0,50,NaN
9,Adam Vinatieri,12,0,0,1,0,27,NaN
10,Adam Vinatieri,13,1,0,5,0,49,NaN
11,Adam Vinatieri,14,4,0,0,1,0,44.0
12,Adam Vinatieri,15,2,0,3,0,43,NaN
13,Adam Vinatieri,16,2,0,3,1,46,34.0
14,Adam Vinatieri,17,3,0,3,0,39,NaN
15,Blair Walsh,1,3,0,1,0,52,NaN
16,Blair Walsh,2,2,0,3,0,28,NaN
17,Blair Walsh,3,3,0,2,0,43,NaN
18,Blair Walsh,4,4,0,2,1,54,44.0
19,Blair Walsh,6,1,0,1,0,22,NaN
20,Blair Walsh,7,0,0,0,1,0,53.0
21,Blair Walsh,8,4,0,1,0,36,NaN
22,Blair Walsh,9,2,1,1,0,23,NaN
23,Blair Walsh,10,4,0,2,0,40,NaN
24,Blair Walsh,11,2,0,2,0,45,NaN
25,Blair Walsh,12,2,0,4,0,47,NaN
26,Blair Walsh,13,2,0,3,1,34,57.0
27,Blair Walsh,14,2,0,2,0,40,NaN
28,Blair Walsh,15,6,0,2,1,38,55.0
29,Blair Walsh,16,2,0,0,0,0,NaN
30,Blair Walsh,17,2,0,0,0,0,NaN
31,Caleb Sturgis,1,2,0,3,0,49,NaN
32,Caleb Sturgis,2,3,0,1,0,54,NaN
33,Caleb Sturgis,3,3,0,2,0,50,NaN
34,Caleb Sturgis,4,2,0,1,0,34,NaN
35,Caleb Sturgis,5,1,0,3,1,48,57.0
36,Caleb Sturgis,7,3,0,0,1,0,51.0
37,Caleb Sturgis,8,2,0,1,2,52,39.0
38,Caleb Sturgis,9,1,0,2,1,44,34.0
39,Caleb Sturgis,10,1,0,2,0,40,NaN
40,Caleb Sturgis,11,2,0,2,0,37,NaN
41,Caleb Sturgis,12,1,0,3,1,47,53.0
42,Caleb Sturgis,13,2,0,3,1,43,41.0
43,Caleb Sturgis,14,3,0,1,1,30,52.0
44,Caleb Sturgis,15,3,0,1,0,32,NaN
45,Caleb Sturgis,16,0,0,0,0,0,NaN
46,Caleb Sturgis,17,1,0,0,0,0,NaN
47,Dan Bailey,1,2,0,3,0,45,NaN
48,Dan Bailey,2,1,0,3,0,53,NaN
49,Dan Bailey,3,4,0,1,1,19,35.0

In [25]:
# QB
#",   SUM(play_player.) as  "


query_str = (
" SELECT player.full_name as name, game.week "

# Scored on
",   SUM(play_player.passing_yds) as pass_yds "
",   SUM(play_player.passing_tds) as pass_tds "
",   SUM(play_player.passing_int) as pass_int "

# Fumble scores
",   SUM(play_player.fumbles_lost) as fumb_lost "
",   SUM(play_player.fumbles_rec_tds) as fumb_rec_tds "    

# More fumbles
",   SUM(play_player.fumbles_rec) as fumb_rec "
",   SUM(play_player.fumbles_forced) as fumb_forced "    
",   SUM(play_player.fumbles_notforced) as fumb_nforced "
    
# Possible features
",   SUM(play_player.passing_att) as pass_attempts "
",   SUM(play_player.passing_cmp) as pass_complete "
",   SUM(play_player.passing_incmp) as pass_incomplete "
",   AVG(play_player.passing_cmp_air_yds) as pass_air_yds_avg "
",   MAX(play_player.passing_cmp_air_yds) as pass_air_yds_max "
",   SUM(play_player.passing_sk) as sacks "
",   SUM(play_player.passing_sk_yds) as sack_yards "

" FROM game "
" JOIN play_player "
" ON game.gsis_id = play_player.gsis_id "
" JOIN player"
" ON play_player.player_id = player.player_id"
" WHERE game.season_year = 2013 "
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "
"  AND player.position  = 'QB' "
" GROUP BY player.full_name, game.week "
" ORDER BY player.full_name, game.week "
)

df = pd.read_sql_query(query_str,con=engine)
df.head(50)

,name,week,pass_yds,pass_tds,pass_int,fumb_lost,fumb_rec_tds,fumb_rec,fumb_forced,fumb_nforced,pass_attempts,pass_complete,pass_incomplete,pass_air_yds_avg,pass_air_yds_max,sacks,sack_yards
0,Aaron Rodgers,1,333,3,1,0,0,0,0,0,37,21,16,4.317073,37,2,-11
1,Aaron Rodgers,2,480,4,0,0,0,0,0,0,42,34,8,4.142857,29,4,-39
2,Aaron Rodgers,3,244,1,2,0,0,0,0,0,43,26,17,2.760000,30,4,-27
3,Aaron Rodgers,5,274,1,0,0,0,1,0,1,30,20,10,4.473684,33,1,-5
4,Aaron Rodgers,6,315,1,1,0,0,0,2,0,32,17,15,3.075000,54,3,-17
5,Aaron Rodgers,7,260,3,0,0,0,0,0,0,36,25,11,3.365854,19,1,-7
6,Aaron Rodgers,8,285,2,0,0,0,0,0,0,29,24,5,3.081081,21,2,-3
7,Aaron Rodgers,9,27,0,0,0,0,0,0,0,2,1,1,3.750000,15,1,-3
8,Aaron Rodgers,17,318,2,2,0,0,0,1,0,39,25,14,4.431818,43,3,-5
9,Alex Smith,1,173,2,0,0,0,0,0,1,34,21,13,2.100000,17,1,-2
10,Alex Smith,2,223,2,0,0,0,0,0,0,36,21,15,2.460000,31,4,-24
11,Alex Smith,3,273,0,0,0,0,0,0,0,35,22,13,1.764706,15,5,-25
12,Alex Smith,4,288,3,2,0,0,0,0,0,41,24,17,3.244898,23,1,0
13,Alex Smith,5,245,0,1,0,0,0,0,0,39,20,19,3.500000,43,2,-12
14,Alex Smith,6,128,0,0,0,0,0,0,0,31,14,17,1.102564,18,3,-23
15,Alex Smith,7,240,0,1,0,0,0,0,0,34,23,11,2.476190,15,2,-9
16,Alex Smith,8,225,2,0,0,0,0,0,0,36,24,12,2.020833,26,6,-30
17,Alex Smith,9,124,0,0,0,0,0,1,0,29,19,10,1.457143,11,2,-9
18,Alex Smith,11,236,2,0,0,0,1,0,1,43,19,24,2.549020,24,3,-30
19,Alex Smith,12,294,3,1,0,0,0,0,0,38,26,12,3.720930,30,3,-13
20,Alex Smith,13,293,2,1,0,0,0,0,0,42,26,16,3.434783,25,0,0
21,Alex Smith,14,137,2,0,0,0,0,0,0,20,14,6,3.090909,19,0,0
22,Alex Smith,15,287,5,0,1,0,0,1,0,20,17,3,2.615385,21,2,-12
23,Alex Smith,16,153,0,2,1,0,0,1,1,29,16,13,2.307692,15,4,-21
24,Andrew Luck,1,178,2,0,0,0,0,0,0,23,18,5,3.363636,18,4,-31
25,Andrew Luck,2,321,1,1,0,0,0,1,0,43,25,18,3.260000,47,3,-6
26,Andrew Luck,3,164,0,0,0,0,0,0,0,27,18,9,2.406250,14,1,-7
27,Andrew Luck,4,260,2,1,0,0,0,0,0,36,22,14,3.925000,20,2,-14
28,Andrew Luck,5,229,2,0,1,0,0,1,0,29,16,13,4.162162,42,2,-21
29,Andrew Luck,6,202,0,1,0,0,0,0,0,30,18,12,3.742857,27,1,-9
30,Andrew Luck,7,228,3,0,0,0,0,0,0,38,21,17,2.636364,24,2,-15
31,Andrew Luck,9,271,3,0,0,0,0,0,0,40,18,22,3.217391,43,4,-26
32,Andrew Luck,10,353,1,3,1,0,0,1,0,47,29,18,2.436364,29,3,-33
33,Andrew Luck,11,232,0,0,0,0,0,0,0,36,23,13,2.152174,16,1,-3
34,Andrew Luck,12,163,1,1,0,0,0,0,0,39,20,19,1.813953,17,1,-4
35,Andrew Luck,13,200,0,1,0,0,1,2,0,32,17,15,2.928571,19,5,-40
36,Andrew Luck,14,326,4,0,0,0,0,0,0,46,29,17,2.729167,29,0,0
37,Andrew Luck,15,180,2,1,0,0,0,0,0,32,19,13,1.526316,29,1,-1
38,Andrew Luck,16,241,1,0,0,0,0,0,0,37,26,11,2.340909,28,1,-9
39,Andrew Luck,17,282,1,0,0,0,0,1,0,37,26,11,3.225000,35,1,-8
40,Andy Dalton,1,282,2,2,0,0,0,0,0,33,26,7,5.305556,42,1,-5
41,Andy Dalton,2,280,1,0,0,0,0,0,0,45,25,20,2.250000,24,0,0
42,Andy Dalton,3,235,2,1,1,0,0,1,0,28,20,8,2.083333,18,4,-20
43,Andy Dalton,4,206,0,1,1,0,0,1,1,42,23,19,1.770833,19,2,-3
44,Andy Dalton,5,212,0,1,0,0,0,0,0,27,20,7,3.621622,24,4,-33
45,Andy Dalton,6,337,3,1,0,0,0,0,0,40,26,14,1.760000,19,3,-19
46,Andy Dalton,7,372,3,0,0,0,0,0,0,34,24,10,6.666667,38,1,-8
47,Andy Dalton,8,325,5,1,0,0,0,0,0,30,19,11,6.387097,44,1,-2
48,Andy Dalton,9,338,0,3,1,0,0,1,0,53,32,21,3.222222,25,5,-36
49,Andy Dalton,10,274,2,3,0,0,0,0,0,51,24,27,2.603175,51,5,-30

In [25]:
# WR
#",   SUM(play_player.) as  "


query_str = (
" SELECT player.full_name as name, game.week "

# Scored on
",   SUM(play_player.passing_yds) as pass_yds "
",   SUM(play_player.passing_tds) as pass_tds "
",   SUM(play_player.passing_int) as pass_int "

# Fumble scores
",   SUM(play_player.fumbles_lost) as fumb_lost "
",   SUM(play_player.fumbles_rec_tds) as fumb_rec_tds "    

# More fumbles
",   SUM(play_player.fumbles_rec) as fumb_rec "
",   SUM(play_player.fumbles_forced) as fumb_forced "    
",   SUM(play_player.fumbles_notforced) as fumb_nforced "
    
# Possible features
",   SUM(play_player.passing_att) as pass_attempts "
",   SUM(play_player.passing_cmp) as pass_complete "
",   SUM(play_player.passing_incmp) as pass_incomplete "
",   AVG(play_player.passing_cmp_air_yds) as pass_air_yds_avg "
",   MAX(play_player.passing_cmp_air_yds) as pass_air_yds_max "
",   SUM(play_player.passing_sk) as sacks "
",   SUM(play_player.passing_sk_yds) as sack_yards "

" FROM game "
" JOIN play_player "
" ON game.gsis_id = play_player.gsis_id "
" JOIN player"
" ON play_player.player_id = player.player_id"
" WHERE game.season_year = 2013 "
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "
"  AND player.position  = 'WR' "
" GROUP BY player.full_name, game.week "
" ORDER BY player.full_name, game.week "
)

df = pd.read_sql_query(query_str,con=engine)
df.head(50)

,name,week,pass_yds,pass_tds,pass_int,fumb_lost,fumb_rec_tds,fumb_rec,fumb_forced,fumb_nforced,pass_attempts,pass_complete,pass_incomplete,pass_air_yds_avg,pass_air_yds_max,sacks,sack_yards
0,Aaron Rodgers,1,333,3,1,0,0,0,0,0,37,21,16,4.317073,37,2,-11
1,Aaron Rodgers,2,480,4,0,0,0,0,0,0,42,34,8,4.142857,29,4,-39
2,Aaron Rodgers,3,244,1,2,0,0,0,0,0,43,26,17,2.760000,30,4,-27
3,Aaron Rodgers,5,274,1,0,0,0,1,0,1,30,20,10,4.473684,33,1,-5
4,Aaron Rodgers,6,315,1,1,0,0,0,2,0,32,17,15,3.075000,54,3,-17
5,Aaron Rodgers,7,260,3,0,0,0,0,0,0,36,25,11,3.365854,19,1,-7
6,Aaron Rodgers,8,285,2,0,0,0,0,0,0,29,24,5,3.081081,21,2,-3
7,Aaron Rodgers,9,27,0,0,0,0,0,0,0,2,1,1,3.750000,15,1,-3
8,Aaron Rodgers,17,318,2,2,0,0,0,1,0,39,25,14,4.431818,43,3,-5
9,Alex Smith,1,173,2,0,0,0,0,0,1,34,21,13,2.100000,17,1,-2
10,Alex Smith,2,223,2,0,0,0,0,0,0,36,21,15,2.460000,31,4,-24
11,Alex Smith,3,273,0,0,0,0,0,0,0,35,22,13,1.764706,15,5,-25
12,Alex Smith,4,288,3,2,0,0,0,0,0,41,24,17,3.244898,23,1,0
13,Alex Smith,5,245,0,1,0,0,0,0,0,39,20,19,3.500000,43,2,-12
14,Alex Smith,6,128,0,0,0,0,0,0,0,31,14,17,1.102564,18,3,-23
15,Alex Smith,7,240,0,1,0,0,0,0,0,34,23,11,2.476190,15,2,-9
16,Alex Smith,8,225,2,0,0,0,0,0,0,36,24,12,2.020833,26,6,-30
17,Alex Smith,9,124,0,0,0,0,0,1,0,29,19,10,1.457143,11,2,-9
18,Alex Smith,11,236,2,0,0,0,1,0,1,43,19,24,2.549020,24,3,-30
19,Alex Smith,12,294,3,1,0,0,0,0,0,38,26,12,3.720930,30,3,-13
20,Alex Smith,13,293,2,1,0,0,0,0,0,42,26,16,3.434783,25,0,0
21,Alex Smith,14,137,2,0,0,0,0,0,0,20,14,6,3.090909,19,0,0
22,Alex Smith,15,287,5,0,1,0,0,1,0,20,17,3,2.615385,21,2,-12
23,Alex Smith,16,153,0,2,1,0,0,1,1,29,16,13,2.307692,15,4,-21
24,Andrew Luck,1,178,2,0,0,0,0,0,0,23,18,5,3.363636,18,4,-31
25,Andrew Luck,2,321,1,1,0,0,0,1,0,43,25,18,3.260000,47,3,-6
26,Andrew Luck,3,164,0,0,0,0,0,0,0,27,18,9,2.406250,14,1,-7
27,Andrew Luck,4,260,2,1,0,0,0,0,0,36,22,14,3.925000,20,2,-14
28,Andrew Luck,5,229,2,0,1,0,0,1,0,29,16,13,4.162162,42,2,-21
29,Andrew Luck,6,202,0,1,0,0,0,0,0,30,18,12,3.742857,27,1,-9
30,Andrew Luck,7,228,3,0,0,0,0,0,0,38,21,17,2.636364,24,2,-15
31,Andrew Luck,9,271,3,0,0,0,0,0,0,40,18,22,3.217391,43,4,-26
32,Andrew Luck,10,353,1,3,1,0,0,1,0,47,29,18,2.436364,29,3,-33
33,Andrew Luck,11,232,0,0,0,0,0,0,0,36,23,13,2.152174,16,1,-3
34,Andrew Luck,12,163,1,1,0,0,0,0,0,39,20,19,1.813953,17,1,-4
35,Andrew Luck,13,200,0,1,0,0,1,2,0,32,17,15,2.928571,19,5,-40
36,Andrew Luck,14,326,4,0,0,0,0,0,0,46,29,17,2.729167,29,0,0
37,Andrew Luck,15,180,2,1,0,0,0,0,0,32,19,13,1.526316,29,1,-1
38,Andrew Luck,16,241,1,0,0,0,0,0,0,37,26,11,2.340909,28,1,-9
39,Andrew Luck,17,282,1,0,0,0,0,1,0,37,26,11,3.225000,35,1,-8
40,Andy Dalton,1,282,2,2,0,0,0,0,0,33,26,7,5.305556,42,1,-5
41,Andy Dalton,2,280,1,0,0,0,0,0,0,45,25,20,2.250000,24,0,0
42,Andy Dalton,3,235,2,1,1,0,0,1,0,28,20,8,2.083333,18,4,-20
43,Andy Dalton,4,206,0,1,1,0,0,1,1,42,23,19,1.770833,19,2,-3
44,Andy Dalton,5,212,0,1,0,0,0,0,0,27,20,7,3.621622,24,4,-33
45,Andy Dalton,6,337,3,1,0,0,0,0,0,40,26,14,1.760000,19,3,-19
46,Andy Dalton,7,372,3,0,0,0,0,0,0,34,24,10,6.666667,38,1,-8
47,Andy Dalton,8,325,5,1,0,0,0,0,0,30,19,11,6.387097,44,1,-2
48,Andy Dalton,9,338,0,3,1,0,0,1,0,53,32,21,3.222222,25,5,-36
49,Andy Dalton,10,274,2,3,0,0,0,0,0,51,24,27,2.603175,51,5,-30