In [6]:
import numpy
import nfldb
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
%matplotlib inline
plt.style.use('dark_background')

In [14]:
# Sets up the database engine
# nfldb is user name, football is password, localhost is our system, nfldb is the name of the database

from sqlalchemy import create_engine

engine = create_engine('postgresql://nfldb:football@localhost/nfldb')

In [22]:
# Example

query_str = (
"SELECT play_player.player_id, game.week, SUM(play_player.passing_yds) "
"FROM game "
"JOIN play_player "
"ON game.gsis_id = play_player.gsis_id "
"WHERE game.season_year = 2013 "
"  AND game.season_type = 'Regular' "  
"  AND game.finished    = TRUE "
"  AND play_player.passing_yds > 0 "
"GROUP BY play_player.player_id, game.week "
"ORDER BY play_player.player_id, game.week "
"LIMIT 10 "
)

df = pd.read_sql_query(query_str,con=engine)
df.head()

    player_id  week  sum
0  00-0007091     4   37
1  00-0007091    10   68
2  00-0007091    17   25
3  00-0010346     1  462
4  00-0010346     2  307